<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <experiment
            experiment_type="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment"
            id="org.eclipse.tracecompass.extension.virtual.machine.analysis.VirtualMachineExperiment"
            name="%vm.experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.virtual.resources.VirtualResourcesAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.VirtualResourcesAnalysis"
            name="%vm.analysis">
            <tracetype
                  applies="true"
                  class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
            </tracetype>
      </module>
 
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.vmblock.VMblockAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.VMblockAnalysis"
            name="%vm.analysis.VMblockAnalysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.fused.FusedVirtualMachineAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.FusedVirtualMachineAnalysis"
            icon="icons/fusedcpu.png"
            name="%vm.analysis.fused">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.overhead.VmOverheadAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.overhead.analysis"
            name="%vm.analysis.overhead">
			<tracetype
				applies="true"
				class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
			</tracetype>
		</module>
        <!--module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.vmIdle.vmIdleDetection"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.vmIdle"
            name="%vm.analysis.vmIdle">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module-->
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.model.analysis.VirtualMachineModelAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.model.analysis"
            name="%vm.analysis.model">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.trace.VirtualMachineExperiment">
         </tracetype>
      </module>
      <parameterProvider
            class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.vmIdle.vmIdleDetection">
         <analysisId
               id="org.eclipse.tracecompass.incubator.virtual.machine.analysis.core.analysisId1">
         </analysisId>
      </parameterProvider>
   </extension>
   <extension
         point="org.eclipse.tracecompass.analysis.os.linux.core.graph.handler">
      <handler
            class="org.eclipse.tracecompass.incubator.internal.virtual.machine.analysis.core.graph.KvmHostOnlyGraphHandler$HandlerBuilderKvmHostOnly"
            priority="10">
      </handler>
   </extension>
</plugin>
